h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}
/* contiene la parte de losgos y zonas de revicion de informacion */
.cargue-de-paginas {
  background-color: rgb(191, 216, 216);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* div de los logos */
.espacio {
  min-width: 160px;
  min-height: 70px;
  max-width: 165px;
  max-height: 75px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 2.5px;
  margin: 2px;
  background-color: rgb(150, 200, 200);
}
/* area de cargue */
.area_cargue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  margin: auto;
  font-weight: bold;
}
/* zona de revicion*/
.zona_revision {
  max-width: 600px;
  align-items: center;
  background-color: rgb(150, 200, 200);
}
/* barra de navegacion */
.navbar {
  padding: 2rem;
  background-color: rgb(191, 216, 216);
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
/* borde section   */
.borde {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
}

/* ocutacion del formulario */
#formularioModelo {
  display: none
}
#formularioProducto {
  display: none;
}

.boton {
  margin: 10px;
}

/* adtable (responsive textarea */
.tex {
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px black;

  width: 90%;
}
/* adaptable (responsive logo nav */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
